name: Inspect AI Main CI

on:
  schedule:
    # Runs every 3 hours
    - cron: "0 */3 * * *"
  # Allow manual triggering from the Actions tab
  workflow_dispatch:

jobs:
  py-ruff:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade dependencies
        run: uv sync --dev --upgrade
        shell: bash
      - name: Install inspect-ai main
        run: uv pip install git+https://github.com/UKGovernmentBEIS/inspect_ai.git
      - name: Lint with Ruff
        run: uv run --no-sync ruff check .
      - name: Format with Ruff
        run: uv run --no-sync ruff format --check .

  py-type:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade dependencies
        run: uv sync --dev --upgrade
        shell: bash
      - name: Install inspect-ai main
        run: uv pip install git+https://github.com/UKGovernmentBEIS/inspect_ai.git
      - name: Type check with pyright
        run: uv run --no-sync pyright

  py-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade dependencies
        run: uv sync --dev --upgrade
        shell: bash
      - name: Install inspect-ai main
        run: uv pip install git+https://github.com/UKGovernmentBEIS/inspect_ai.git
      - name: Run tests
        run: uv run --no-sync pytest

  check-type-gen:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install inspect-ai main
        run: uv pip install git+https://github.com/UKGovernmentBEIS/inspect_ai.git
      - name: Generate types
        run: uv run --no-sync python src/inspect_flow/_types/type_gen.py
      - name: Ensure schema and types changes are checked in
        run: |
          if [[ $(git status --porcelain) != "" ]]
          then
            echo "Generated types are out of date. Please run python src/inspect_flow/_types/type_gen.py and check in the changes."
            git status
            git diff
            exit 1
          fi
